automation/n8n-workflows/ai-toolkit-delivery.json
[{"updatedAt":"2026-03-07T10:30:03.049Z","createdAt":"2026-03-07T10:30:03.049Z","id":"n0sB7vNVqHsg1FRs","name":"JPGLabs - Modern AI Engineer Toolkit Delivery","description":"Handles payment webhooks, validates input, checks rate limits, delivers toolkit, logs to Google Sheets, and sends confirmation/error notifications.","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"webhook-test","responseMode":"lastNode","options":{"rawBody":true}},"name":"Webhook (Payment)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-600,112],"webhookId":"jpglabs-payment-hook","id":"e0c6cb13-44e4-4285-9592-269cfcb914bd"},{"parameters":{"jsCode":"// Input validation for required fields\nconst body = $json.body || $json;\n\nconst requiredFields = ['payment_status', 'customer_email', 'customer_name'];\nconst missing = requiredFields.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Validation Error: Missing required fields: ${missing.join(', ')}`);\n}\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(body.customer_email)) {\n  throw new Error(`Validation Error: Invalid email format: ${body.customer_email}`);\n}\n\n// Sanitize customer_name (strip HTML)\nbody.customer_name = (body.customer_name || '').replace(/<[^>]*>/g, '').trim();\n\nreturn [{ json: { body } }];"},"name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,112],"id":"code-validate"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.body.payment_status}}","value2":"paid"}]}},"name":"Verify Payment","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,112],"id":"c1d6b7c6-13d5-4fb4-a37c-91717695cb96"},{"parameters":{"jsCode":"// Rate limit: 1 delivery per email per 24 hours\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.deliveryRateLimit) {\n  staticData.deliveryRateLimit = {};\n}\n\nconst email = $json.body.customer_email.toLowerCase();\nconst now = Date.now();\nconst twentyFourHours = 24 * 60 * 60 * 1000;\n\n// Cleanup old entries (older than 48h)\nfor (const [key, ts] of Object.entries(staticData.deliveryRateLimit)) {\n  if (now - ts > twentyFourHours * 2) {\n    delete staticData.deliveryRateLimit[key];\n  }\n}\n\nconst lastDelivery = staticData.deliveryRateLimit[email];\nif (lastDelivery && (now - lastDelivery) < twentyFourHours) {\n  const hoursRemaining = Math.ceil((twentyFourHours - (now - lastDelivery)) / 3600000);\n  throw new Error(`Rate limit: Delivery already sent to ${email}. Try again in ${hoursRemaining}h.`);\n}\n\n// Record this delivery\nstaticData.deliveryRateLimit[email] = now;\n\nreturn $input.all();"},"name":"Rate Limit Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"code-ratelimit"},{"parameters":{"fromEmail":"jader@jpglabs.com.br","toEmail":"={{$json.body.customer_email}}","subject":"Seu Kit Engenheiro de IA Moderno Chegou!","text":"Ola {{$json.body.customer_name}},\n\nObrigado por adquirir o Kit Engenheiro de IA Moderno.\n\nVoce agora tem acesso a documentacao que usamos internamente na JPGLabs para orquestrar agentes e infraestrutura.\n\nBaixe seus arquivos aqui: {{$env.AI_TOOLKIT_DOWNLOAD_URL}}\n\nQualquer duvida, responda este email.\n\nAbs,\nJader - JPGLabs","html":"<p>Ola <strong>{{$json.body.customer_name}}</strong>,</p><p>Obrigado por adquirir o <strong>Kit Engenheiro de IA Moderno</strong>.</p><p>Voce agora tem acesso a documentacao que usamos internamente na JPGLabs para orquestrar agentes e infraestrutura.</p><p><a href=\"{{$env.AI_TOOLKIT_DOWNLOAD_URL}}\"><strong>Clique aqui para baixar seus arquivos</strong></a></p><p>Qualquer duvida, responda este email.</p><p>Abs,<br>Jader - JPGLabs</p>","options":{}},"name":"Send Email (Delivery)","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[250,0],"id":"58d51b6d-37a5-487f-883c-a70016ac164f"},{"parameters":{"authentication":"oAuth2","operation":"append","sheetId":"1GOA37wPrqLp6MpYPO3wdZCBCD85F7v4x88AhmJEmpj8","range":"Sales!A:E","options":{}},"name":"Log Sale (Sheets)","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[250,200],"id":"2c9cc7fd-365a-4df4-af22-c9454b456368"},{"parameters":{"jsCode":"// Confirmation: delivery was successful\nconst body = $('Validate Input').first().json.body;\nconst logEntry = {\n  status: 'success',\n  customer_email: body.customer_email,\n  customer_name: body.customer_name,\n  amount: body.amount || 'N/A',\n  delivered_at: new Date().toISOString()\n};\nconsole.log('Toolkit Delivery Success:', JSON.stringify(logEntry));\nreturn [{ json: { ...logEntry, body } }];"},"name":"Log Delivery Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"code-log-success"},{"parameters":{"message":"={{ 'Nova Venda! Kit Engenheiro IA - R$ ' + ($json.body.amount || 'N/A') + ' (' + $json.body.customer_email + ')' }}","priority":1,"additionalFields":{}},"name":"Notify Admin (Pushover)","type":"n8n-nodes-base.pushover","typeVersion":1,"position":[750,100],"id":"bb5b22ab-ffb1-4e63-8b58-ba06069c3900"},{"parameters":{"fromEmail":"jader@jpglabs.com.br","toEmail":"={{$json.body.customer_email}}","subject":"Confirmacao de Entrega - Kit Engenheiro de IA","text":"Ola {{$json.body.customer_name}},\n\nEste email confirma que o Kit Engenheiro de IA Moderno foi entregue com sucesso para o email {{$json.body.customer_email}}.\n\nCaso nao tenha recebido o email com o link de download, por favor responda este email.\n\nAbs,\nJader - JPGLabs","options":{}},"name":"Send Confirmation Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[750,250],"id":"email-confirm"},{"parameters":{"errorTriggerType":"allErrors"},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-400,400],"id":"err-trigger-toolkit"},{"parameters":{"jsCode":"// Error notification handler\nconst error = $input.first().json;\nconst logEntry = {\n  workflow: 'AI Toolkit Delivery',\n  error: error.message || 'Unknown error',\n  node: error.node?.name || 'unknown',\n  timestamp: new Date().toISOString()\n};\nconsole.error('Toolkit Delivery Error:', JSON.stringify(logEntry));\nreturn [{ json: logEntry }];"},"name":"Log Delivery Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,400],"id":"code-log-error"},{"parameters":{"message":"={{ 'ERRO Toolkit Delivery: ' + $json.error + ' | Node: ' + $json.node + ' | ' + $json.timestamp }}","priority":1,"additionalFields":{}},"name":"Notify Error (Pushover)","type":"n8n-nodes-base.pushover","typeVersion":1,"position":[0,400],"id":"pushover-error"}],"connections":{"Webhook (Payment)":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Verify Payment","type":"main","index":0}]]},"Verify Payment":{"main":[[{"node":"Rate Limit Check","type":"main","index":0},{"node":"Log Sale (Sheets)","type":"main","index":0}]]},"Rate Limit Check":{"main":[[{"node":"Send Email (Delivery)","type":"main","index":0}]]},"Send Email (Delivery)":{"main":[[{"node":"Log Delivery Success","type":"main","index":0}]]},"Log Sale (Sheets)":{"main":[[{"node":"Notify Admin (Pushover)","type":"main","index":0}]]},"Log Delivery Success":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Log Delivery Error","type":"main","index":0}]]},"Log Delivery Error":{"main":[[{"node":"Notify Error (Pushover)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","saveManualExecutions":true,"availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"61c24d6b-bc50-49fb-b0f6-40b37ba1de84","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-07T10:30:03.051Z","createdAt":"2026-03-07T10:30:03.051Z","role":"workflow:owner","workflowId":"n0sB7vNVqHsg1FRs","projectId":"wL0S2fKSRlDG069V","project":{"updatedAt":"2026-03-07T10:28:02.232Z","createdAt":"2026-02-28T17:22:21.227Z","id":"wL0S2fKSRlDG069V","name":"Jader Germano <jader@jpglabs.com.br>","type":"personal","icon":null,"description":null,"creatorId":"d303e6c3-d3f4-49b6-8a20-cc1a2464f67e"}}],"versionMetadata":{"name":null,"description":null}}]