automation/n8n-workflows/delivery_workflow.json
[{"updatedAt":"2026-03-07T10:30:03.049Z","createdAt":"2026-03-07T10:30:03.049Z","id":"n0sB7vNVqHsg1FRs","name":"JPGLabs - Modern AI Engineer Toolkit Delivery","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"webhook-test","responseMode":"lastNode","options":{}},"name":"Webhook (Payment)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-448,112],"webhookId":"jpglabs-payment-hook","id":"e0c6cb13-44e4-4285-9592-269cfcb914bd"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.body.payment_status}}","value2":"paid"}]}},"name":"Verify Payment","type":"n8n-nodes-base.if","typeVersion":1,"position":[-256,112],"id":"c1d6b7c6-13d5-4fb4-a37c-91717695cb96"},{"parameters":{"fromEmail":"jader@jpglabs.com.br","toEmail":"={{$json.body.customer_email}}","subject":"🚀 Seu Kit Engenheiro de IA Moderno Chegou!","text":"Olá {{$json.body.customer_name}},\n\nObrigado por adquirir o Kit Engenheiro de IA Moderno.\n\nVocê agora tem acesso à documentação que usamos internamente na JPGLabs para orquestrar agentes e infraestrutura.\n\n🔗 Baixe seus arquivos aqui: {{$env.AI_TOOLKIT_DOWNLOAD_URL}}\n\nQualquer dúvida, responda este email.\n\nAbs,\nJader - JPGLabs","html":"<p>Olá <strong>{{$json.body.customer_name}}</strong>,</p><p>Obrigado por adquirir o <strong>Kit Engenheiro de IA Moderno</strong>.</p><p>Você agora tem acesso à documentação que usamos internamente na JPGLabs para orquestrar agentes e infraestrutura.</p><p>👉 <a href=\"{{$env.AI_TOOLKIT_DOWNLOAD_URL}}\"><strong>Clique aqui para baixar seus arquivos</strong></a></p><p>Qualquer dúvida, responda este email.</p><p>Abs,<br>Jader - JPGLabs</p>","options":{}},"name":"Send Email (Delivery)","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[0,0],"id":"58d51b6d-37a5-487f-883c-a70016ac164f"},{"parameters":{"authentication":"oAuth2","operation":"append","sheetId":"1GOA37wPrqLp6MpYPO3wdZCBCD85F7v4x88AhmJEmpj8","range":"Sales!A:E","options":{}},"name":"Log Sale (Sheets)","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[0,208],"id":"2c9cc7fd-365a-4df4-af22-c9454b456368"},{"parameters":{"message":"💰 Nova Venda! Kit Engenheiro IA - R$ {{$json.body.amount}} ({{$json.body.customer_email}})","priority":1,"additionalFields":{}},"name":"Notify Admin (Pushover)","type":"n8n-nodes-base.pushover","typeVersion":1,"position":[208,112],"id":"bb5b22ab-ffb1-4e63-8b58-ba06069c3900"}],"connections":{"Webhook (Payment)":{"main":[[{"node":"Verify Payment","type":"main","index":0}]]},"Verify Payment":{"main":[[{"node":"Send Email (Delivery)","type":"main","index":0},{"node":"Log Sale (Sheets)","type":"main","index":0}]]},"Send Email (Delivery)":{"main":[[{"node":"Notify Admin (Pushover)","type":"main","index":0}]]},"Log Sale (Sheets)":{"main":[[{"node":"Notify Admin (Pushover)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"61c24d6b-bc50-49fb-b0f6-40b37ba1de84","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-07T10:30:03.051Z","createdAt":"2026-03-07T10:30:03.051Z","role":"workflow:owner","workflowId":"n0sB7vNVqHsg1FRs","projectId":"wL0S2fKSRlDG069V","project":{"updatedAt":"2026-03-07T10:28:02.232Z","createdAt":"2026-02-28T17:22:21.227Z","id":"wL0S2fKSRlDG069V","name":"Jader Germano <jader@jpglabs.com.br>","type":"personal","icon":null,"description":null,"creatorId":"d303e6c3-d3f4-49b6-8a20-cc1a2464f67e"}}],"versionMetadata":{"name":null,"description":null}}]