automation/n8n-workflows/kiwify-delivery-secure.json
{"name":"JPGLabs [SECURE] - Kiwify Delivery","nodes":[{"parameters":{"httpMethod":"POST","path":"kiwify-sale","responseMode":"lastNode","options":{"rawBody":true}},"id":"webhook-1","name":"Kiwify Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[100,300]},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst signature = $request.headers['x-kiwify-signature'];\nconst secret = $env.KIWIFY_WEBHOOK_SECRET;\n\nif (!secret) {\n  throw new Error('Security: KIWIFY_WEBHOOK_SECRET env variable not configured');\n}\n\nif (!signature) {\n  throw new Error('Security Violation: Missing x-kiwify-signature header');\n}\n\n// Validate HMAC signature\nconst rawBody = JSON.stringify($input.first().json);\nconst expectedSignature = crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\n\nif (signature !== expectedSignature) {\n  throw new Error('Security Violation: Invalid webhook signature');\n}\n\nreturn $input.all();"},"id":"code-1","name":"Verify Secret","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,300]},{"parameters":{"jsCode":"// Idempotency check: prevent duplicate deliveries\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.processedOrders) {\n  staticData.processedOrders = {};\n}\n\nconst orderId = $json.order_id || $json.body?.order_id;\nif (!orderId) {\n  throw new Error('Validation Error: Missing order_id in payload');\n}\n\nif (staticData.processedOrders[orderId]) {\n  // Already processed - return empty to stop workflow\n  console.log(`Duplicate order skipped: ${orderId} (originally processed at ${staticData.processedOrders[orderId]})`);\n  return [];\n}\n\n// Mark as processing (will be confirmed after delivery)\nstaticData.processedOrders[orderId] = new Date().toISOString();\n\n// Cleanup: remove orders older than 30 days to prevent memory bloat\nconst thirtyDaysAgo = Date.now() - (30 * 24 * 60 * 60 * 1000);\nfor (const [id, ts] of Object.entries(staticData.processedOrders)) {\n  if (new Date(ts).getTime() < thirtyDaysAgo) {\n    delete staticData.processedOrders[id];\n  }\n}\n\nreturn $input.all();"},"id":"code-idempotency","name":"Check Duplicate Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300]},{"parameters":{"method":"POST","url":"={{ $env.KIWIFY_DELIVERY_ENDPOINT || 'https://api.example.com/deliver' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.KIWIFY_DELIVERY_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":30000,"retry":{"maxTries":3,"retryInterval":5000}}},"id":"http-delivery","name":"Send Delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[700,300],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"jsCode":"// Log successful delivery\nconst orderId = $json.order_id || $('Check Duplicate Order').first().json.order_id || $('Check Duplicate Order').first().json.body?.order_id;\n\nconst logEntry = {\n  order_id: orderId,\n  timestamp: new Date().toISOString(),\n  status: 'delivered',\n  delivery_response_status: $json.statusCode || 200\n};\n\nconsole.log('Delivery Success:', JSON.stringify(logEntry));\n\nreturn [{ json: logEntry }];"},"id":"code-log-success","name":"Log Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"jsCode":"// Handle delivery errors\nconst error = $input.first().json;\nconst orderId = error.order_id || 'unknown';\n\nconst logEntry = {\n  order_id: orderId,\n  timestamp: new Date().toISOString(),\n  status: 'delivery_failed',\n  error: error.message || 'Unknown delivery error'\n};\n\nconsole.error('Delivery Failed:', JSON.stringify(logEntry));\n\nreturn [{ json: logEntry }];"},"id":"code-log-error","name":"Log Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,500]},{"parameters":{"errorTriggerType":"allErrors"},"id":"error-trigger-1","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[700,500]}],"connections":{"Kiwify Webhook":{"main":[[{"node":"Verify Secret","type":"main","index":0}]]},"Verify Secret":{"main":[[{"node":"Check Duplicate Order","type":"main","index":0}]]},"Check Duplicate Order":{"main":[[{"node":"Send Delivery","type":"main","index":0}]]},"Send Delivery":{"main":[[{"node":"Log Success","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Log Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"id":"kiwifyDeliverySecure01"}