automation/n8n-workflows/sales_hub.json
[{"updatedAt":"2026-03-07T21:38:31.252Z","createdAt":"2026-03-07T21:38:31.252Z","id":"GmR0wYQzCEJ0IRMB","name":"JPGLabs [Health Check] - Infrastructure Monitor","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-256,112],"id":"040675d8-c8de-4b0e-b5e8-c94548a80c94"},{"parameters":{"url":"https://chat.jpglabs.com.br","options":{}},"name":"Check AI Chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0],"id":"e56b4f9a-e1e5-454e-b03d-c6b3b7548a17","onError":"continue"},{"parameters":{"url":"https://jpglabs.com.br/portfolio","options":{}},"name":"Check Portfolio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,208],"id":"dfd4c444-1c59-453c-a14f-aba21c427a27","onError":"continue"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Check AI Chat\"].error !== undefined || $node[\"Check Portfolio\"].error !== undefined}}","value2":true}]}},"name":"Any Failures?","type":"n8n-nodes-base.if","typeVersion":1,"position":[256,112],"id":"e3412e29-41e4-4d72-a331-9b22b79fd142"},{"parameters":{"message":"⚠️ Alerta JPGLabs: Um ou mais serviços estão offline! \nChat: {{ $node[\"Check AI Chat\"].error ? 'DOWN' : 'OK' }}\nPortfolio: {{ $node[\"Check Portfolio\"].error ? 'DOWN' : 'OK' }}","priority":1,"additionalFields":{}},"name":"Notify Admin (Pushover)","type":"n8n-nodes-base.pushover","typeVersion":1,"position":[512,112],"id":"0fd837b4-bde1-480e-b5fc-e419fa685e36"}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Check AI Chat","type":"main","index":0},{"node":"Check Portfolio","type":"main","index":0}]]},"Check AI Chat":{"main":[[{"node":"Any Failures?","type":"main","index":0}]]},"Check Portfolio":{"main":[[{"node":"Any Failures?","type":"main","index":0}]]},"Any Failures?":{"main":[[{"node":"Notify Admin (Pushover)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"57991cd9-2961-4258-9b73-217c72c43e04","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-07T21:38:31.254Z","createdAt":"2026-03-07T21:38:31.254Z","role":"workflow:owner","workflowId":"GmR0wYQzCEJ0IRMB","projectId":"wL0S2fKSRlDG069V","project":{"updatedAt":"2026-03-07T10:28:02.232Z","createdAt":"2026-02-28T17:22:21.227Z","id":"wL0S2fKSRlDG069V","name":"Jader Germano <jader@jpglabs.com.br>","type":"personal","icon":null,"description":null,"creatorId":"d303e6c3-d3f4-49b6-8a20-cc1a2464f67e"}}],"versionMetadata":{"name":null,"description":null}}]
